<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="kr.co.m2m.instagram.comment.mapper.CommentMapper">
 
    <select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM COMMENT
    </select>
    <!--  -->
    <select id="commentList" resultType="CommentVO">
        SELECT
            comment_no, member_no, post_no, text, createdt
        FROM COMMENT
    </select>
    <select id="selectComment" resultType="CommentVO">
        SELECT
            comment_no, member_no, post_no, text, creatdt
        FROM COMMENT WHERE post_no = ${postId}
    </select>
    <insert id="insertComment" parameterType="CommentPO">
        INSERT INTO
        COMMENT (comment_no, member_no, post_no, text)
        VALUES(${commentNo},${memberNo},${postNo},#{text},#{deleteYN}) 
    </insert>
    
    <update id="updateComment" parameterType="CommentPO">
        UPDATE COMMENT
            SET text = #{text}
        	WHERE comment_no = ${commentNo}
    </update>
    <update id="deleteComment" parameterType="CommentPO">
	    UPDATE COMMENT
	        SET delete_yn = 'Y'
	    	WHERE comment_no = ${commentNo}
    </update>
</mapper>
