<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="kr.co.m2m.instagram.mapper.CommentMapper">
 
    <select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM COMMENT
    </select>
    
    <select id="commentList" resultType="CommentVO">
        SELECT
            (comment_id, member_id, post_id, text, REG_DATE)
        FROM COMMENT
    </select>
    <insert id="commentInsert" parameterType="CommentVO">
        INSERT INTO
        COMMENT (comment_id, member_id, post_id, text, REG_DATE)
        VALUES(${commentId},${memberId},${postId},#{text},#{deleteYN},now()) 
    </insert>
    
    <update id="commentUpdate" parameterType="CommentVO">
        UPDATE COMMENT
            SET
            text = #{text}
        	WHERE post_id = ${postId}
    </update>
    <update id="commentDelete" parameterType="CommentVO">
	    UPDATE COMMENT
	        SET
	        delete_yn = 'Y'
	    	WHERE post_id = ${postId}
    </update>
</mapper>
