<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="kr.co.m2m.instagram.comment.mapper.CommentMapper">
 	<!-- 좋아요 -->
 	<update id="likesCount" parameterType="PostPO">
 		update 
 			instagram.dbo.post set like_cnt = like_cnt+1 
 		where post_no = ${postNo};
 	</update>
 	<!-- 댓글 수 -->
    <select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM instagram.dbo.comment
    </select>
    <!-- 댓글 전체 리스트 -->
    <select id="listComment" resultType="CommentVO">
        SELECT TCO.comment_no
		      ,TCO.member_no
			  ,TCO.post_no
			  ,TCO.text
			  ,TCO.createdt
			  ,TMB.login_id  AS login_id
		FROM dbo.comment AS TCO
		INNER JOIN dbo.member AS TMB
		    ON TCO.member_no = TMB.member_no;

    </select>
    <!-- 포스트 댓글  -->
    <select id="selectComment" resultType="CommentVO">   
		SELECT TCO.comment_no
		      ,TCO.member_no
			  ,TCO.post_no
			  ,TCO.text
			  ,TCO.createdt
			  ,TMB.login_id  AS login_id
		FROM dbo.comment AS TCO
		 INNER JOIN dbo.member AS TMB
		    ON TCO.member_no = TMB.member_no
		WHERE TCO.post_no = ${postNo};
    </select>
    <!-- 댓글 작성  -->
    <insert id="insertComment" parameterType="CommentPO">
        INSERT INTO
        COMMENT (member_no, post_no, text, delete_yn)
        VALUES(${memberNo},${postNo},#{text},#{deleteYN}) 
    </insert>
    <!-- 댓글 수정  -->
    <update id="updateComment" parameterType="CommentPO">
        UPDATE instagram.dbo.comment
            SET text = #{text}
        	WHERE comment_no = ${commentNo}
    </update>
	<!-- 댓글 삭제  -->
    <update id="deleteComment" parameterType="CommentPO">
	    UPDATE instagram.dbo.comment
	        SET delete_yn = 'Y'
	    	WHERE comment_no = ${commentNo}
    </update>
</mapper>
