<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.m2m.instagram.media.mapper.MediaMapper">
	<insert id="insertPostMedia" parameterType="MediaVO" useGeneratedKeys="true" keyProperty="media_id">
		INSERT INTO media (post_id, filename)
		VALUES (#{post_id}, #{filename})
	</insert>
	<insert id="insertProfileMedia" parameterType="MediaVO" useGeneratedKeys="true" keyProperty="media_id">
		INSERT INTO media (post_id, filename)
		VALUES (0, #{filename})
	</insert>
	<update id="updateMedia" parameterType="MediaVO">
		UPDATE media
		SET filename = #{filename}
		WHERE media_id = #{media_id}
	</update>
	<update id="deleteMedia" parameterType="Integer">
		UPDATE media
		SET delete_yn = 'Y'
		WHERE media_id = #{media_id}
	</update>
	<select id="selectPostMedia" resultType="MediaVO">
		SELECT * FROM media
		WHERE post_id = #{post_id}
	</select>
	<select id="selectProfileMedia" resultType="MediaVO">
		SELECT * FROM media
		WHERE media_id = #{media_id}
	</select>
</mapper>

