<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.m2m.instagram.member.mapper.MemberMapper">
	
	<!--회원검색  -->
	<select id="selectAllMembers" resultType="MemberVO">
		SELECT * FROM instagram.dbo.member
	</select>
	
	<!--회원가입  -->
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO instagram.dbo.member (login_name, user_name, email, password, gender, delete_yn, media_id)
		VALUES (#{login_name}, #{user_name}, #{email}, #{password}, #{gender}, 'Y', #{media_id})
	</insert>
	
	<!-- 회원수정 -->
	<!-- 비밀번호 변경 메뉴를 따로 만들수도 있으니 확인 필요함 -->
	<update id="updateMember" parameterType="MemberVO">
		UPDATE instagram.dbo.member
		SET login_name = #{login_name}, user_name = #{user_name}, email = #{email},
			password = #{password}, gender = #{gender}, media_id = #{media_id}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="updateMemberPassword">
		UPDATE insgram.dbo.member
		SET password = #{password}
		WHERE member_id = #{member_id}
	</update>
	
	<!--로그인 -->
	<select id="login_check" resultType="MemberVO">
	  SELECT *
	  FROM instagram.dbo.member
	  WHERE email=#{email} and password=#{password}
	 </select>
	
</mapper>