<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.m2m.instagram.member.mapper.MemberMapper">
	
	<!--회원검색  -->
	<select id="getLoginMember" parameterType="kr.co.m2m.instagram.common.model.LoginSO" resultType="kr.co.m2m.instagram.common.model.LoginVO">
		SELECT login_name
		     , user_name
		     , email
		     , password
		     , gender
		     , media_id
		  FROM dbo.member 
		 WHERE member_id = #{id}
	</select>	
	
	<!--회원가입  -->
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO instagram.dbo.member (login_id, user_name, email, password, gender, delete_yn, media_no)
		VALUES (#{loginName}, #{userName}, #{email}, #{password}, #{gender}, 'Y', #{mediaId})
	</insert>
	
	<!-- 회원수정 -->
	<!-- 비밀번호 변경 메뉴를 따로 만들수도 있으니 확인 필요함 -->
	<update id="updateMember" parameterType="MemberVO">
		UPDATE instagram.dbo.member
		SET login_name = #{loginName}, user_name = #{userName}, email = #{email},
			password = #{password}, gender = #{gender}, media_id = #{mediaId}
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="updateMemberPassword">
		UPDATE insgram.dbo.member
		SET password = #{password}
		WHERE member_id = #{memberId}
	</update>
	
	<!--로그인 -->
	<select id="login_check" resultType="MemberVO">
	  SELECT *
	  FROM instagram.dbo.member
	  WHERE email=#{email} and password=#{password}

	 </select>
	 
	 <!--로그인체크 -->
	 <select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM instagram.dbo.member
		WHERE login_id = #{loginName}
	 </select>
	
</mapper>