<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.m2m.instagram.post.mapper.PostMapper">
	<insert id="insertPost">
		insert into instagram.dbo.post (member_id,media_id, text) values (#{memberId},#{mediaId},#{text})
	</insert>
	<delete id="deletePost">
		update instagram.dbo.post set delete_yn = 'Y' where post_id = #{postId}
	</delete>
	<update id="updatePost">
		update instagram.dbo.post set text = #{text} where post_id = #{postId}
	</update>
	<select id="selectPost" resultType="kr.co.m2m.instagram.post.model.PostVO">
		select * from instagram.dbo.post
	</select>
	<select id="selectPostDetail" resultType="kr.co.m2m.instagram.post.model.PostVO">
		select * from instagram.dbo.post where post_id = #{postID}
	</select>
	<select id="selectPostAll" resultType="PostVO">
		select * from dbo.post
	</select>
</mapper>

